.winner{
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    left: 0;
    bottom: 0;
}

.winner h1 {
    font-size: 40px;
    color: #17538c;
    opacity: 0;
    animation: fade 0.5s;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.winner img {
    opacity: 0;
    animation: fade 0.5s;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.winner span {
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    background: #ffffff4a;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: widthRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    box-shadow: 0 10.5px 5.4px -26px rgba(0, 0, 0, 0.19), 0 18.5px 9px -26px rgba(0, 0, 0, 0.212), 0 25.9px 12.2px -26px rgba(0, 0, 0, 0.209), 0 34.5px 17.1px -26px rgba(0, 0, 0, 0.198), 0 47.3px 26.8px -26px rgba(0, 0, 0, 0.187), 0 70px 46px -26px rgba(0, 0, 0, 0.19);
    
}

.winner button {
    padding: 15px 80px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #114870;
    color: white;
    box-shadow:
  0 5.8px 8.6px rgba(0, 0, 0, 0.382),
  0 18.4px 26.2px rgba(0, 0, 0, 0.357),
  0 67px 127px rgba(0, 0, 0, 0.38)
;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    opacity: 0;
    animation: fade 0.5s;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

.winner button:focus {
    outline: none
}

.winner p{
    font-size: 100px;
    font-weight: 100;
    color: #0000009e;
    opacity: 0;
    animation: fade 0.5s;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

@keyframes widthRight {
    from {
        width: 0px;
    }
    to{
        width: 700px;
    }
}

/* @keyframes widthOpen {
    from {
        opacity: 0;
        width: 0px;
    }
    to{
        opacity: 1;
        width: 210px;
    }
} */

@keyframes fade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}