.item-button {
    margin: 5px;
    position: relative;
    /* right: -50px;
    bottom: -50px; */
    opacity: 0;
    border: none;
    border-radius: 5px;
    box-shadow:
        0 1.7px 2.2px -23px rgba(0, 0, 0, 0.168),
        0 4px 5.4px -23px rgba(0, 0, 0, 0.175),
        0 7.5px 10.1px -23px rgba(0, 0, 0, 0.163),
        0 13.4px 18.1px -23px rgba(0, 0, 0, 0.151),
        0 25.1px 33.8px -23px rgba(0, 0, 0, 0.154),
        0 60px 81px -23px rgba(0, 0, 0, 0.22)
    ;
    background: none;
}

.hidden {
    opacity: 0 !important;
}

.item-button:focus{
    outline: none;
}

.item-button img{
    z-index: 1;
}

.background-item{
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffffa1;
    border-radius: 5px;
}

.selected{
    background: #ffffff;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    /* transform: translate3d(0, 0, 0); */
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }