.score {
    text-align: initial;
    margin: 0 auto !important;
    width: 1070px;
    padding-bottom: 40px;
}

.score-left, .score-mid{
    border-right: 2px solid;
}

.score-left p {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

.score-right {
    margin: 0;
}

.buttongame {
    justify-content: center;
    align-items: center;
    display: flex;

}

.buttongame button {
    padding: 20px;
    border-radius: 5px;
    width: 110px;
    box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.061),
  0 22.3px 17.9px rgba(0, 0, 0, 0.089),
  0 100px 80px rgba(0, 0, 0, 0.15)
;


}

.button-start button{
    background: #383838;
    color: white;
    border: 2px solid #383838;
}

.button-end button{
    background: no-repeat;
    border: 2px solid;
}

.button-end button:hover{
    background: #383838;
    color: white;
    border: 2px solid #383838;
}