body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,208,233,1) 100%);
  /* background: radial-gradient(circle, rgba(89,95,245,1) 0%, rgba(220,98,197,1) 35%, rgba(106,85,246,1) 100%); */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
